{% schema %}
{
  "name": "Custom Announcement Bar",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "This is a custom announcement!"
    }
  ],
  "presets": [
    {
      "name": "Custom Announcement Bar",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<!-- custom-announcement-bar.liquid -->
<section id="custom-announcement-bar" class="custom-announcement-bar">
  <div 
    class="custom-announcement-bar-content" 
    style="background-image: url({{ section.settings.background_image | image_url }}); background-repeat: repeat-x;">
    <div class="custom-announcement-bar-text">
      <p>{{ section.settings.announcement_text }}</p>
    </div>
  </div>
</section>

<!-- CSS included inline -->
<style>
  #custom-announcement-bar {
    width: 100%;
    text-align: center;
    padding: 0px 0; /* Increase this value to make the section taller */
    margin: 0;
    color: #fff;
  }

  .custom-announcement-bar-content {
    width: 100%;
    background-position: top;
    background-repeat: repeat-x;
    background-size: auto;
    text-align: center;
    padding: 10px; /* Leave as 0 if you don't want internal padding */
  }

  .custom-announcement-bar-text p {
    margin: 0;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    style:bold;
  }
</style>


